{% extends 'schema.html' %}
{% block title %}About {% endblock %}

{% block content %}
<br><br>
<div class="container-fluid justify-content-center" style="width:auto; max-width: 700px;">
  <h2 style="font-weight: 750;">About me</h2><hr>
  <p style="line-height: 1.75;">
    Hi! My name is <strong style="font-size: 18px; font-weight: 700;">Mario Varas</strong>, I'm a software developer from Spain.<br>
    I graduated in Computer Science at the University of Salamanca,
    and I've also studied one year at the National University of Colombia.<br>
    I mostly like areas such as AI and Machine Learning, concretely I'm very interested in hand gesture recognition systems.
    <br>I also like everything concerned to the cibersecurity field.<br>
    I'm currently working as a Software Dev at <a href="https://www.fluidattacks.com" target="blank">Fluid Attacks</a> in Medellín, Colombia.
  <p>
</div>

{% endblock %}
