{% extends 'schema.html' %}
{% block title %}About {% endblock %}

{% block content %}
<br><br>
<div class="container-fluid justify-content-center" style="width:auto; max-width: 700px;">
  <h2 style="font-weight: 750;">About me</h2><hr>
  <p style="line-height: 1.75;" align="justify">
    I'm <strong style="font-size: 18px; font-weight: 700;">Mario Varas</strong>, a software developer from Spain.<br>
    My interests go between AI and backend development. Since I started programming I became passionate about it so that's why I
    really enjoy facing new challenges, discovering new technologies and arounding myself of people I can learn lots of things from.<br>
    I've worked/researched about AI & cybersecurity, hand gesture recognition systems and deep image compression methods.<br>
    I'm currently working with AI & cybersecurity at <a href="https://www.fluidattacks.com" target="blank">Fluid Attacks</a> in Medellín, Colombia.
  <p>
</div>

{% endblock %}
