{% extends 'schema.html' %}
{% block title %}About {% endblock %}

{% block content %}
<br><br>
<div class="container-fluid justify-content-center" style="width:auto; max-width: 700px;">
  <h2 style="font-weight: 750;">About me</h2><hr>
  <p style="line-height: 1.55;" align="justify">
    I'm <strong style="font-size: 18px; font-weight: 700;">Mario Varas</strong>, a Spanish software engineer.
    <p style="margin-bottom: 140;">
    Within software, I have interests in a variety of topics like distributed systems, IT security, cloud development and Artificial Intelligence.<br>
    On the latter, I've academically/professionally worked about hand gesture recognition systems, Machine Learning & cybersecurity and deep image files compression methods.
    </p>
    <p style="margin-bottom: 140;"></p>
    Being a software enthusiast, the main thing I enjoy is to <strong>contribute</strong> in taking projects from conception to production and beyond, giving dedication and love to the whole process, and having a user-centered mindset throughout the entire process.
    </p>
    <p style="margin-bottom: 140;"></p>
    In my leisure time, I especially enjoy exercising, cooking and watching basketball 🏀
    </p>
    <p style="margin-bottom: 140;">
    Feel free to contact me via <a href="https://www.linkedin.com/in/mario-varas/" target="blank">LinkedIn</a> or <a href="mailto:elasgard@hotmail.es" target="blank">mail</a>, I'd love to chat! 💬
    </p>
  <p>
</div>

{% endblock %}
